<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.team.mapper.WaitingMapper">
    
    <select id="getMyWaiting" resultType="com.example.team.domain.Waiting">
    	select * from waiting where w_username = #{w_username}
    </select>
    
    <select id="getWaitingAll" resultType="com.example.team.domain.Waiting">
    	select * from waiting
    </select>
    
    <insert id="doInsertReserve">
    	insert into waiting(w_username, w_title, w_item, w_waiting, w_date, w_time, w_people, w_waiting_confirm) values(#{w_username}, #{w_title}, #{w_item}, #{w_waiting}, #{w_date}, #{w_time}, #{w_people}, #{w_waiting_confirm})
    </insert>
    
    <delete id="deleteWaitingList">
		delete from waiting where w_title=#{w_title}
	</delete>
 
</mapper>